* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

main {
    background-color: #3B3F45;
    padding-top: 20px;
    height: 100vh;
}

.header {
    background-color: #4A4F56;
    padding: 19px 0 12px;
}

.header-item {
    color: #FF8984;
}

h1.header-item {
    font-size: 24px;
    text-align: center;
    margin-bottom: 4px;
}

h2.header-item {
    font-weight: normal;
    font-size: 16px;
    text-align: center;
}

.container {
    background-color: #7A7593;
    max-width: 534px;
    width: 100%;
    margin: 0 auto;
}

.checklist {
    list-style: none;
}

.checklist-item {
    color: #FFFFFF;
    font-size: 18px;
    padding: 11px 0 13px  12px;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
}

.checklist-item:nth-child(2n+1) {
    background-color: #88839E;
}

.comments {
    font-size: 11px;
    padding-left: 3px;
    vertical-align:middle;
}

input[type="checkbox"] {
    display: none;
}

.pseudo-label:before {
    content: '\2714';
    width: 19px;
    height: 19px;
    margin-right: 16px;
    display: inline-block;
    background-color: #FFFFFF;
    font-size: 12px;
    text-align: center;
    transition: all ease-in-out 0.3s;
}

.checklist-item:hover {
    background-color: #625E77;
    border-top: 3px solid #FFFFFF;
    border-bottom: 3px solid #FFFFFF;
    transition: ease-in-out 0.3s;
}

.checkbox:checked ~ span {
    color: #9B96AC;
    text-decoration: line-through;
}

.button-wrap {
    max-width: 534px;
    width: 100%;
    margin: 0 auto;
    padding: 45px 0;
}

.main-button {
    background-color: #4A4F56;
    color: #FF8984;
    width: 534px;
    padding: 12px 0;
    font-size: 18px;
}





